.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    overflow: hidden;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    position: relative;
    display: flex;
    align-items: center;
 /* parameters for the header section */
}

.logo {
    width: 154px;
    height: 31px;
    background-size: cover;
    background-position: center;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    background-image: url(./images/logo.png);
}

.header__title {
    line-height: 96px;
    font-size: 102px;
    width: 730px;
    margin-left: 64px;
    position: relative;
    font-weight: bold;
    z-index: 1;

}

.header__subtitle {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    width: 388px;
    position: absolute;
    left: 63px;
    bottom: 30px;
    margin-right: 19px;
    margin-left: 0;
    z-index: 2;

}

.header__link {
    text-decoration: none;
    color: #2F80ED;
}

.header__square-pic {
    background-color:#2F80ED;
    height: 568px;
    width: 568px;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 0;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    /* background-size: cover; */
    /* background-position: center; */
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.description {
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}

.two-columns {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.two-columns__brief {
    margin: 0;
    padding-top: 25px;
    width: 175px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    color: #2F80ED;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__span-accent {
    font-weight: bold;

}

.two-columns__main-paragraph{
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__paragraph {
    min-width: 784px;
    font-size: 24px;
    line-height: 34px;
    /*font-weight: bold;*/
}

a, div, p, h1, h2, .digits {
    /* border: 1px solid red; */
} 

section {
    /* border: 2px solid blue; */
}

.digits {
    margin:100px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.digits__title {
    display: flex;
    justify-content: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.digits__subtitle {
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.table {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 1100px;
}

.table__cell {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:  column;
    width: 250px;
    /* align-content: center; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    margin-right: 25px;
    list-style-type: none;    
}

.table__heading {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.15;
    text-align: left;
    margin-bottom: 20px;
} 

.table__text {
    font-size: 18px;
    font-style: normal;
    line-height: 1.2;
    text-align: left;
}

.section {
    margin: auto;
    overflow: hidden;
    height: 790px;
    width: 1100px;
}

.feynman__title {
    max-width: 775px;
    text-align: center;
    margin: auto;
    margin-top: -210px;
    /*align-content: space-between;*/
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 2;
}

.feynman__subtitle {
    width: 550px;
    height: 51px;
    border-left: 200px;
    margin-right: 50px;
    margin-left: 37vw;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    z-index: 2;
}

.feynman__link {
    text-decoration: none;
    color: #000000;
    position: absolute;
    top: 50%;
    margin-top: -318.5px;
    left: 50%;
    margin-left: 395px;
    padding-top: 120px;
    padding-left: 135px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feynman {
    height: 637px;
    max-width: 867vw;
    position: relative;
    background-image: url('./images/feynman.png');
    background-color: #f2f2f2;
    margin-left: 0px;
    padding-top: 100px;
    margin-bottom: 0px;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    z-index: 2;
}

.kaufman__triangle {
    background-image: url(./images/triangle.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: -210px;
    left: 877px;
    overflow: hidden;
    width: 877px;
    height: 877px;
    z-index: 0;
}


.kaufman {
    padding-top: 90px;
    background-color: #1F1F1F;
    /* min-width: 877px; */
    /* height: 877px; */
    justify-content: center;
    /* border: 5px solid green; */
}


.kaufman__title_theme_dark {
    text-align: center;
    color:#F2F2F2;
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 69px;
    font-weight: bold;
}

.kaufman__subtitle_theme_dark {
    line-height: 34px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    color: #F2F2F2;
}

.table_theme_dark {
    Width: 1100px;
    display: flex;
    /*position: absolute;*/
    flex-flow: wrap;
    margin: auto;
}

.table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    z-index: 1;
}

.table__cell_theme_dark {
    max-width: 200px;
    margin-left: auto;
    color: white;
    list-style: none;
    /* margin-right: 50px; */
    /* margin-top: 80px; */
}

.table__text_theme_dark {
    line-height: 1.3;
    z-index: 1;
    font-size: 18px;
    font-weight: normal;
}

.footer {
    background-color: #1F1F1F;
    min-height: 350px;
    margin: auto;
    /* padding-top:  60px; */
    /* padding-right: 0; */
    /* padding-bottom: 40px; */
    position: relative;
}

.footer__columns {
    /* width: 90px; */
    /* justify-content: space-between; */
    display: flex;
    flex-direction: row;
}

.footer__columns_content_copyright {
    flex-basis: 711px;
    display: flex;
    /* position: absolute; */
    justify-content: left;
}

.footer__columns_content_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer__columns-heading {
    margin-bottom: 20px;
    color: white;
    position: absolute;
    right: 210px;
    top: 30px;
    height: 45px;
    font-weight: bold;
}

.footer__columns-link {
    padding-bottom: 16px;
}

.footer__social-icon {
    height: 16px;
    width: 16px;
}

.footer__author {
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    position: absolute;
    left: 64px;
    bottom: 30px;
}

.logo_place_footer {
    width: 183px;
    height: 35px;
    background-size: contain;
    position: absolute;
    top: 30px;
    left: 64px;
}
