.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.flex-row {
    display: flex;
    position: relative;
}

.header {
    height: 100vh;
    overflow: hidden;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    position: relative;
    display: flex;
    align-items: center;
 /* parameters for the header section */
}

.logo {
    width: 154px;
    height: 31px;
    background-size: cover;
    background-position: center;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    background-image: url(./images/logo.png);
}

.header__title {
    line-height: 96px;
    font-size: 102px;
    width: 730px;
    margin-left: 64px;
    position: relative;
    font-weight: bold;
    z-index: 1;

}

.header__subtitle {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    width: 388px;
    position: absolute;
    left: 63px;
    bottom: 30px;
    margin-right: 19px;
    margin-left: 0;
    z-index: 2;

}

.header__link {
    text-decoration: none;
    color: #2F80ED;
}

.header__square-pic {
    background-color:#2F80ED;
    height: 568px;
    width: 568px;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 0;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.description {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.two-columns {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.two-columns__brief {
    margin: 0;
    width: 175px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    color: #2F80ED;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__span-accent {
    font-weight: bold;

}

.two-columns__main-paragraph{
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__paragraph {
    min-width: 784px;
    font-size: 24px;
    line-height: 34px;
    /*font-weight: bold;*/
}

a, div, p, h1, h2, .digits {
    border: 1px solid red;
} 

section {
    border: 2px solid blue;
}

.digits {
    margin:100px auto;
    flex-direction: column;
}

.section_title {
    display: flex;
    justify-content: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.section_subtitle {
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px;
    list-style: none;
    width: 1100px;
    padding-left: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.table__cell {
    text-align: left;
    margin-top: 60px;
    width: 250px;
    justify-content: space-between;
    margin-top: 0px;
    margin-right: 5px;
    list-style-type: none;    
}

.table__cell-heading {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.15;
    text-align: left;
    margin-bottom: 20px;
} 

.table__cell-text {
    font-size: 18px;
    font-style: normal;
    line-height: 1.2;
    text-align: left;
}

.feynman {
    min-height: 790px;
    background-image: url('./images/feynman.png');
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 867px 627px;
}

.feynman__title {
    max-width: 775px;
    margin-left: 375px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
}

.feynman__subtitle {
    align-content: center;
    margin-right:25px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feynman__link {
    text-decoration: none;
    color: #000000;
    position: absolute;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}


.kaufman {
    background-color: #1F1F1F;
    display: flex;
    margin-top: 0;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
}

.setion-title_theme_dark {
    z-index: 2;
    color:#F2F2F2;
    margin: 90px auto 20px;
    font-size: 60px;
    line-height: 69px;
    font-weight: bold;
    max-width: 80%;
}

.section-subtitle_theme_dark {
    margin-top: 20px;
    align-content: center;
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 90px;
    position: absolute;
    font-weight: normal;
    color: #F2F2F2;
    text-align: center;
    z-index: 2;
}

.table_theme_dark {
    max-width: 1100px;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    margin: 90px auto;
    z-index: 2;
}

.table_heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}

.table_cell_theme_dark {
    max-width: 200px;
    color: white;
    list-style: none;
    margin-bottom: 80px;
}

.table_text_theme_dark {
    line-height: 1.3;
    font-size: 18px;
    font-weight: normal;
}

.kaufman_triangle {
    background-image: url(./images/triangle.svg);
    background-repeat: no-repeat;
    width: 877px;
    height: 877px;
    position: absolute;
    right: -210px;
    top: 0px;
    z-index: 1;
}

.footer {
    background-color: #1F1F1F;
    min-height: 350px;
    margin: auto;
    padding-top:  60px;
    padding-right: 0;
    padding-bottom: 40px;
}







